node_modules/
dist/
.env
docs/
logs/
.idea/
*.p8

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sentry Config File
.sentryclirc
